@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Jost';
    src: url('../assets/fonts/Jost.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Nunito';
    src: url('../assets/fonts/Nunito.ttf') format('truetype');
  }
}

.font-body {
  font-family: 'Nunito'
}

.font-brand {
  font-family: 'Jost'
}

body {
  @apply text-zinc-50 bg-zinc-950 font-body;
}